<!DOCTYPE html>
<html ng-app="timeline">

<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="style.css">
	<!-- <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script> -->
	<script src="jquery.js"></script>
	<script type="text/javascript">
		var jq=jQuery.noConflict();
	</script>
	<!-- <script src="https://code.angularjs.org/1.5.0/angular.min.js"></script> -->
	<script src="angular.js"></script>
	<script src="service.js"></script>
	<script src="controller.js"></script>
	<script src="app.js"></script>
</head>

<body>

	<div class="timeline" ng-controller="timelineCtrl" ng-mousemove="mousemove($event)">



		<div class="ruler" ng-controller="rulerCtrl">
			<!-- <div ng-repeat="bar in bars"
				ng-class="{
					ruler_highBar:bar.type==3,
					ruler_middleBar:bar.type==2,
					ruler_shortBar:bar.type==1
				}" 
			></div> -->
			<div class="ruler_mouseTime" style="left:{{mouseX}}px;">{{mouseTime}}</div>
		</div>



		<div class="area" ng-controller="areaCtrl" style="width:{{(max-min)*zoom}}px;">
			<div class="area_row" ng-repeat="row in rows"
				style="
					position:relative;
					height:{{periodHeight}}px;
					margin-bottom: -1px;
				"
			>
				<div class="area_period" ng-repeat="period in row" ng-mouseover="periodMouseenter($event)" ng-mouseleave="periodMouseleave($event)"
					style="
						width:{{period.span*zoom}}px;
						background: {{period.color}};
						top:0;
						left: {{period.from*zoom+bias*zoom}}px;
						height: {{periodHeight}}px;
						line-height: {{periodHeight-2}}px;
					"
				>
					<span class="area_name"><span style="display: inline-block;">{{period.name}}</span></span>
					<!-- <span class="area_span">{{period.to-period.from}}</span> -->
					<!-- <div class="area_from">{{period.from}}</div> -->
					<!-- <div class="area_to">{{period.to}}</div> -->
					<div class="area_popup" style="left:{{mouseX}}px;">
						<div>{{period.name}} &nbsp;&nbsp;{{period.from}} ~ {{period.to}}</div>
						<div>
							<div class="area_popup_title">时长：</div>
							<div class="area_popup_content">{{period.from-period.to}}</div>
							<div style="clear:both;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>



		<!-- <div class="control">
			<textarea>
			</textarea>
		</div> -->



		<div class="timeline_vBar" style="left:{{mouseX-2}}px;"></div>
	</div>

</body>

</html>






























