.timeline{position: relative;}
.timeline__time{position: absolute;top:0;left: 0;z-index: 2;text-shadow:1px 1px white;background: rgb(223,223,223);padding:5px;}
.timeline__period{text-align: center;word-break: keep-all;text-shadow:1px 1px white;position: absolute;box-sizing: border-box;border:solid 1px gray;font-size:14px;cursor:default;}
.timeline__period:hover{z-index: 1;}
.timeline__from{left: 0;position: absolute;top:-25px;line-height: 14px;display: none;background: rgb(223,223,223);padding:5px;}
.timeline__to{right: 0;position: absolute;bottom:-25px;line-height: 14px;display: none;background: rgb(223,223,223);padding:5px;}
.timeline__period:hover .timeline__from{display: block;}
.timeline__period:hover .timeline__to{display: block;}
.timeline__period:hover .timeline__name{/*display: none;*/background: rgb(223,223,223);}
.timeline__span{display: none;}
/*.timeline__period:hover .timeline__span{display: inline;}*/

.ruler{height: 24px;background: black;margin-bottom: 20px;position: relative;}
.ruler__highBar{width:1px;margin-right:3px;float:left;height: 100%;background: rgb(125,125,125);}
.ruler__middleBar{width:1px;margin-right:3px;float:left;height: 50%;background: rgb(125,125,125);margin-top: 12px;}
.ruler__shortBar{width:1px;margin-right:3px;float:left;height: 25%;background: rgb(125,125,125);margin-top: 18px;}
