<div id="timeline">

  <div id="ruler"> </div>
  <div class="vBar"
       [style.left]="mouseX+'px'">
  </div>
  <div class="mouseTime"
       [style.left]="mouseX+'px'"
       style="white-space: nowrap">
    <span>{{mouseTime|number}}</span>
    <span style="margin-left: 5px;color:gray;">距今: {{now_year-mouseTime|number}}</span>
  </div>

  <div id="option"
       [style.top]="rulerHeight+'px'">
    <div class="timelines">
      <div class="timeline"
           *ngFor="let timeline of TIMELINES">
        <label>
          <input type="checkbox" [(ngModel)]="timeline.act" (change)="optionTimelineChange(timeline)">
          {{timeline.name}}
        </label>
      </div>
      <div style="clear:both;"></div>
    </div>
    <div class="zoom">
      <span>缩放：</span>
      <button (click)="zoomOut()">-</button>
      <span class="value">{{zoom}}</span>
      <button (click)="zoomIn()">+</button>
    </div>
    <a class="sourceCode"
       href="https://github.com/gonnavis/Timeline"
       target="_blank">github</a>
    <a class="sourceCode"
       href="https://gitee.com/gonnavis/Timeline"
       target="_blank">gitee</a>
    <div class="contact"
         style="margin: 8px 0 5px 30px;font-size:14px;">
      <button (click)="is_show_contact=!is_show_contact"
              style="cursor: pointer;">contact</button>
      <span [hidden]="!is_show_contact">
        <span>邮箱: gonnavis@163.com</span> &nbsp;
      <span>QQ: 125798032</span>
      </span>
    </div>
    <div style="clear:both;float: none;height: 0;min-height: 0;max-height: 0;"></div>
  </div>

  <div class="areas_wrap"
       oncontextmenu="return false"
       (mousedown)="areas_mousedown($event)"
       (mouseup)="areas_mouseup($event)"
       (mouseleave)="areas_mouseleave($event)"
       (mousemove)="areas_mousemove($event)"
       (wheel)="areas_wheel($event)"
       [style.top]="headHeight+'px'">
    <div class="areas"
         [style.transform]="transform">
      <div class="area"
           *ngFor="let timeline of timelines">
        <div class="row"
             *ngFor="let row of timeline.rows"
             [style.height]="periodHeight+'px'"
             style="position:relative;margin-bottom: -1px;">
          <div class="period"
               [ngClass]="{'right_clicked':period.right_clicked}"
               *ngFor="let period of row;let index=index"
               (mousedown)="periodMousedown($event, period)"
               (mouseenter)="periodMouseenter($event)"
               (mouseleave)="periodMouseleave($event, period)"
               [style.width]="period.span*zoom+'px'"
               [style.background]="period.color"
               [style.left]="period.from*zoom+bias*zoom+'px'"
               [style.height]="periodHeight+'px'"
               [style.lineHeight]="periodHeight-2+'px'"
               style=" top:0; ">
            <span class="name"><span style="display: inline-block;">{{period.name}}</span></span>
            <div class="popup"
                 style="left:0px;">
              <div>{{period.name}} {{period.from|number}} ~ {{period.to|number}}</div>
              <div>
                <div class="title">时长：</div>
                <div class="content">{{period.to-period.from|number}}</div>
                <div style="clear:both;"></div>
              </div>
              <a [href]="'https://baike.baidu.com/item/'+period.name"
                 target="_blank"
                 >百度百科</a>
              <a [href]="'https://www.baidu.com/s?wd='+period.name"
                 target="_blank"
                 >百度搜索</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>