<div id="timeline">




  <div id="area" *ngFor="let timeline of areas">
    <div class="row" *ngFor="let row of rows"
      [style.height]="periodHeight+'px'" 
      style="position:relative;margin-bottom: -1px;"
    >
      <div class="period" *ngFor="let period of row"
        [style.width]="period.span*zoom+'px'"
        [style.background]="period.color"
        [style.left]="period.from*zoom+bias*zoom+'px'"
        [style.height]="periodHeight+'px'"
        [style.lineHeight]="periodHeight-2+'px'"
        style=" top:0; "
      >
        <span class="name"><span style="display: inline-block;">{{period.name}}</span></span>
        <!-- <span class="span">{{period.to-period.from}}</span> -->
        <!-- <div class="from">{{period.from}}</div> -->
        <!-- <div class="to">{{period.to}}</div> -->
        <div class="popup" style="left:0px;">
          <!-- <div class="arrow"></div> -->
          <div>{{period.name}} {{period.from|number}} ~ {{period.to|number}}</div>
          <div>
            <div class="title">时长：</div>
            <div class="content">{{period.to-period.from|number}}</div>
            <div style="clear:both;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>




</div>