html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}
body {
	background: url(../twha/img/back.png);
}
img {
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: top;
}
#head {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 48px;
	background: rgba(0, 0, 0, 0.5);
	z-index: 10000;
}
.lang-button {
	position: absolute;
	top: 13px;
	width: 80px;
	padding: 2px 0;
	border: 1px solid gray;
	background: white;
	color: black;
	text-align: center;
	font-size: 12px;
	cursor: pointer;
}
#lang-ja {
	left: 190px;
}
#lang-en {
	left: 280px;
}
#lang-zh {
	left: 370px;
}
#scale-zoom {
	position: absolute;
	top: 8px;
	left: 16px;
	width: 148px;
	height: 32px;
	background: url(../twha/img/scale-zoom.png);
}
#scale-zoom-cursor {
	position: absolute;
	top: 8px;
	left: 37px;
}
#layer-land,#layer-tert,#layer-info {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#layer-tert {
	opacity: 0.5;
}
#layer-land img,#layer-tert img {
	position: absolute;
	top: 0;
	left: 0;
}

#year {
	text-align: right;
	margin: 4px 32px;
	color: white;
}
#year-text {
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}
#year-input {
	display: none;
	width: 4em;
	border: none;
	font-size: 16px;
	font-weight: bold;
	background: black;
	color: white;
	text-align: right;
}
#year-sub {
	text-align: right;
	margin: 4px 32px;
	font-size: 14px;
	color: white;
}
#year-bar-scale {
	margin: 0;
	padding: 0;
}
#year-bar-cursor {
	position: absolute;
	top: 0;
	left: 0;
}
#year-bar {
	position: absolute;
	left: 0px;
}
#year-arrow-left,#year-arrow-right {
	cursor: pointer;
}

.region {
	position: absolute;
	top: 0;
	left: 0;
	width: 218px;
	height: 100px;
}
.region-title {
	padding-bottom: 3px;
	font-size: 12px;
	font-weight: bold;
    cursor: default;
}
.person-list {
	background: rgba(255,255,255,0.75);
	color: black;
	font-size: 12px;
}
.person {
	height: 64px;
}
.person div {
	padding: 6px 4px 0 52px;
    cursor: default;
}
.person img {
	float: left;
}
